/*html {
    height: 100%;
    width: 100%;
}*/

body {
    /*height: 100%;
    width: 100%;
    background-color: #B4C4C7;*/
    /*padding-top: 60px;*/
}

#map-container {
  height: 400px;
  width: 100%;
}
