html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: #B4C4C7;
}

#map-container {
    height: 400px;
}

#map-outer {
    height: 480px;
    padding: 20px;
    border: 2px solid #CCC;
    margin-bottom: 20px;
    background-color: #FFF
}

@media all and (max-width: 991px) {
    #map-outer  {
        height: 650px
    }
}
